* { margin: 0px; padding: 0px; font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif; }

body { transition: ease .3s; background: #fbfbfb; }

header { height: 50px; }

footer { background: #212121; padding: 40px; font-size: 0.8rem; color: white; }

.wrapper { padding: 20px 10%; box-sizing: border-box; }

.fixed-top { position: fixed; top: 20px; left: 10%; width: 20%; }

.row { display: table; width: 100%; border-collapse: separate; border-spacing: 10px 5px; }

.row .col { width: 100%; height: 100%; }

.row .col-1-4, .row .col-3-4, .row .col-1-5, .row .col-4-5 { display: table-cell; vertical-align: middle; }

.row .col-1-4 { width: 25%; }

.row .col-3-4 { width: 75%; }

.row .col-1-5 { width: 20%; }

.row .col-4-5 { width: 80%; }

div.highlight { background-color: #ef5350; border: 1px solid black; }

span.highlight { color: #ef5350; }

.block { min-height: 100px; }

.block .sec { height: 100%; }

.block .sec .title { position: relative; font-size: 1.6rem; margin: 20px 0px; font-weight: bold; display: flex; align-items: center; }

.block .sec .title .t_icon { height: 1.5rem; width: 1.5rem; position: absolute; left: -2rem; opacity: 0; transition: 0.2s ease; }

.block .sec .content { text-align: justify; }

.block .sec:hover .t_icon { opacity: 1; }

.img-board { width: 50px; height: 50px; margin: 5px auto; position: relative; }

.img-board .img, .img-board .img2, .img-board .cover { position: absolute; width: 100%; height: 100%; background-size: cover; background-position: center; background-repeat: no-repeat; border-radius: 100px; transition: ease .3s; }

.img-board .img { top: 0px; left: 0px; z-index: 2; box-sizing: border-box; }

.img-board .img2 { top: 0px; left: 0px; z-index: 3; box-sizing: border-box; }

.img-board .cover { opacity: 0; top: 10px; left: 0px; z-index: 1; filter: blur(20px); }

.img-board:hover .img, .img-board:hover .img2 { transform: scale(1.05); border: 0px; }

.img-board:hover .cover { opacity: 0.8; filter: blur(30px); }

.profile { font-size: 1.1rem; transition: ease .3s; background-color: white; padding: 10px; box-sizing: border-box; border-radius: 1em; background-color: transparent !important; }

.profile .row { max-width: 180px; margin: auto; }

.profile .zh_name { transition: ease .3s; }

.profile .img-board { width: calc(100% - 10px); max-width: 180px; height: auto; margin-bottom: 20px; aspect-ratio: 1/1; }

.profile .img-board * { border-radius: 1rem; opacity: 1; border: none; }

.profile .img-board .img2 { position: absolute; }

.profile .name { font-weight: bold; font-size: 1.6rem; }

.profile .dot { position: relative; height: 10px; }

.profile .dot::before { content: ""; height: 8px; width: 8px; margin: 1px; position: absolute; background: black; border-radius: 10px; }

.profile .item { font-size: 0.8rem; }

.profile .line { height: 0px; margin: 10px auto; border-bottom: 1px solid #ddd; }

.profile .email, .profile .github, .profile .location, .profile .scholar { font-size: 14px; line-height: 24px; display: flex; align-items: center; justify-content: flex-start; }

.profile .email .logo, .profile .github .logo, .profile .location .logo, .profile .scholar .logo { height: 20px; width: 20px; margin: 4px; margin-right: 10px; }

.logo { height: 24px; width: 24px; background-color: transparent; background-size: cover; background-position: center; background-repeat: no-repeat; display: block; margin: auto; border-radius: 5px; border: none; transition: 0.2s ease; }

a.logo:hover { background-color: #f06292; filter: invert(1) hue-rotate(180deg); }

ul { list-style: none; }

li { margin: 5px; padding: 5px 10px; box-sizing: border-box; transition: ease .3s; background-color: white; border-radius: 10px; }

.news li .date { float: left; font-weight: bold; }

.news li .event { text-indent: 10px; }

.honor li .date { float: right; }

.honor li .date, .honor li .event { font-weight: bold; }

.education li { float: left; position: relative; width: calc(33% - 10px); padding: 5px 0px; padding-top: 10px; transition: ease .3s; }

.education li * { font-size: 0.9rem; }

.education li .ins { font-weight: bold; font-size: 1.1rem; }

.education li .duration { margin-top: 10px; color: #bbb; font-size: 0.8rem; }

.education li .img-board { width: 80px; height: 80px; }

.education li .img-board * { background-size: contain; border-radius: 0px; border: none; }

.education li .remark-b { margin-top: 5px; background-color: #fbfbfb; padding: 0px; border-radius: 5px; color: #AAA; }

.education li .remark-b * { margin: 5px; }

.paper .touch-board { position: absolute; display: none; top: 0; right: calc(100% - 5px); padding-right: 10px; width: auto; margin: 0; text-align: right; }

.paper .touch-board img { height: 100px; right: 0; border-radius: 10px; box-shadow: 0px 10px 10px -3px rgba(0, 0, 0, 0.1); }

.paper .touch-board .links { width: 4rem; height: 1.8rem; display: flex; float: right; }

.paper .touch-board .links .logo { background-size: 80%; background-color: white; border-radius: 10px; height: 1.5rem; width: auto; aspect-ratio: 1/1; border-bottom: none !important; }

.paper li:hover .touch-board { display: block; }

.paper * { font-size: 0.9rem; }

.paper ul .title { font-size: 1.1rem !important; margin: 5px 0px !important; line-height: 1.1rem; }

.paper ul li { position: relative; border-spacing: 0px; }

.paper .submitted { display: flex; }

.paper .remark { color: #aaa; }

.links li { margin: 0px; background-color: transparent !important; font-size: 16px; padding: 2px 10px; }

.btn-mode { position: fixed; height: 50px; width: 50px; background: #666; bottom: 100px; right: 20px; border-radius: 50px; background-position: center; background-repeat: no-repeat; background-size: 50%; box-shadow: 0px 5px 20px -3px rgba(0, 0, 0, 0.1); cursor: pointer; }

.btn-mode.todark { background-color: white; }

strong { position: relative; border-bottom: 2px solid #f06292; }

a { color: black; position: relative; text-decoration: none; }

a:hover { border-bottom: 1px solid #f06292; color: #f06292 !important; }

.tolight { display: none; }

.todark { display: block; }

.news li:hover, .paper li:hover, .education li:hover, .honor li:hover { transform: scale(1.01); box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.1); }

.clustrmaps-map-control { display: none !important; }

/*# sourceMappingURL=style.css.map */